<div style="background-color: gainsboro; width: 100%; margin-top: 5%; padding: 4px; border-left-width: 0px;
      border-right-width: 0px; border-bottom-width: 0px; border-style: solid; border-color: black">
  <div class="container">
  <div class="text-center">
    <h2>Вы поставщик?</h2>
  </div>
    <div class="row">
      <div class="col-md-6" style="padding: 4%">
        <p>Для доступа к телефонам покупателей заполните форму или позвоните нам {{our_telephone}}</p>
        <p>Текст с дополнительной информацией по условиям сотрудничества. Возможно стоит вынести
          на отдельную страницу Текст с дополнительной информацией по условиям сотрудничества.
          Возможно стоит вынести на отдельную страницу.</p>
      </div>
      <div class="col-md-6" style="padding: 4%">
        <form>
          <div class="form-group">
            <label for="organization">Организация</label>
            <input id="organization" class="form-control">
          </div>
          <div class="form-group">
            <label for="telephone2">Телефон</label>
            <input id="telephone2" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="first_name2">Имя</label>
            <input id="first_name2" class="form-control">
          </div>
          <button type="submit" class="btn btn-default">Отправить информацию</button>
        </form>
      </div>
    </div>
  </div>
</div>
