<div class="row">
  <div class="col-lg-8 col-md-offset-2">
    <div class="col-md-4 text-left">
      {{message_time}}
    </div>
    <div class="text-right">
      <a href="#">
        <span class="glyphicon glyphicon-star"></span>
      <u>В закладки</u>
      </a>
    </div>
    <p style="padding-top: 3%">
      {{request}}
    </p>
    <footer style="padding-bottom: 4%">{{author_name}}</footer>
    <div class="row">
    <div class="col-md-6">
      <button class="btn btn-default">Посмотреть телефон</button>
      <small>{{number_of_views}} просмотров</small>
    </div>
    </div>
    <hr/>
  </div>
</div>