
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-xs-4" style="display: inline-block">
        {{message_time}}
      </div>
      <div class="col-xs-8 text-right" style="display:inline-block">
        <a href="#">
          <span class="glyphicon glyphicon-star"></span>
        <u>В закладки</u>
        </a>
      </div>
    </div>
    <p style="padding-top: 3%">
      {{request}}
    </p>
    <footer style="padding-bottom: 4%">{{author_name}}</footer>
    <div class="row">
    <div class="col-md-6">
      <button class="btn btn-default">Посмотреть телефон</button>
      <small>{{number_of_views}} просмотров</small>
    </div>
    </div>
    <hr/>
  </div>
</div>