{%extends "_base.html"%}
{% block content %}
<div class="container" style="margin: 3%">
  <div class="row">
    <div class="col-md-2">
      <a href="./index.html"><img alt="Логотип" src="./static/img/home_icon_100x100.png"></a>
    </div>
    <div class="col-md-10">
      <p style="padding: 3px">
        <a style="padding: inherit" href="./index.html"><u>Главная</u></a>
        <span style="padding: inherit" class="glyphicon glyphicon-chevron-right"></span>
        <span style="padding: inherit">Каталог организаций</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-4">
      <img alt="ЖБИ" src="./static/img/material.png">
      <div class="caption">
        <h4><a href="./catalog_list.html"><u>ЖБИ</u></a></h4>
      </div>
    </div>
    <div class="col-sm-4">
      <img alt="ЖБИ" src="./static/img/material.png">
      <div class="caption>">
        <h4><u>Кирпич/газобетон/брус</u></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-4">
      <img alt="ЖБИ" src="./static/img/material.png">
      <div class="caption">
        <h4><u>Что-то ещё</u></h4>
      </div>
    </div>
    <div class="col-sm-4">
      <img alt="ЖБИ" src="./static/img/material.png">
      <div class="caption>">
        <h4><u>Что-то ещё</u></h4>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <h2>Все производители и оптовые компании</h2>
  </div>
    <div class="row">
      {% include "_companies_catalog.html" %}
      <div class="col-md-2">
        <a href="./index.html" class="btn btn-default" role="button">Оставьте заявку</a>
      </div>
    </div>
    <div class="row text-center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-md-offset-2">
      <a href="./zajavki.html">Оставить заявку</a>
    </div>
  </div>
{% include "_footer.html" %}
{% endblock %}
