{% extends "_base.html" %}
{%block content%}
<div class="container">
  <div class="row">
      <img alt="Логотип" src="static/img/home_icon_100x100.png">
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>
        Заявки
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="dropdown col-md-8">Раздел:
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Все<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Новые</a></li>
            <li><a href="#">Просмотренные</a></li>
          </ul>
      </div>
      <div class="dropdown col-md-4">Регион:
        <a href="#"  data-toggle="dropdown" class="dropdown-toggle">{{current_city}}<b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% for city in cities %}
            <li><a href="#">{{city}}</a></li>
          {%endfor%}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr/>
    </div>
  </div>
{% include "_requests.html" %}
  {% include "_requests.html" %}
  <div class="text-center">
    <button class="btn btn-default btn-lg">
      Показать еще
    </button>
  </div>
  <div class="row text-center">
  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
  </div>
</div>
{%include "_footer.html"%}
{%endblock%}
